        #top-right{
		   width:15%;
		   float:right;
		   }
		.header{
           width:70%;
		   font-family:cursive;
		   text-align:center;
		   margin-left:15%;
         }
		 #head
		 {
		   font-size:53px;
		    font-family:cursive;
		    
		 }
		 #caption{
		    font-size:23px;
		 }
		 body{
		    background-color:#F5F5DC;
			padding-top:52px;
		 }
		 #input{
			 font-size:22px;width:80%;height:44px;
			 border:none;
		 }
		@media only screen and (max-width: 768px) {
			body{
				font-weight:bold;
			}
			a{
				font-size:32px;
			}
			#caption{
				font-size:32px;
			}
			#head{
				font-size:72px;
			}
		}
		 